.finished {

    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 700px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
    text-align: left;
 
}
.finished h1 {
display: block; 
width: 100%;
margin-bottom: 20px;
text-align: center;
font-size: 30px;
}

.rightAnswers {margin-top: 20px;}
.finished  button {padding: 15px;margin-top: 20px;}

.fa-times {margin-left: 20px; }
.fa-check  {margin-left: 20px;}

.finishedSuccess {color: rgb(173, 221, 173);}
.finishedError {color: red;}